<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="vsts-cli" />
    <package id="vscode" />
    <package id="azure-cli" />
    <package id="az.powershell" />
    <package id="nodejs" />
    <package id="pester" />
    <package id="sql-server-express" />
    <package id="azure-data-studio" />
    <package id="sql-server-management-studio" />
    <package id="service-fabric-sdk" />
    <package id="postman" />
    <package id="visualstudio2019professional" packageParameters="--add Microsoft.VisualStudio.Workload.CoreEditor --add Microsoft.VisualStudio.Workload.Data --add Microsoft.VisualStudio.Workload.DataScience --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetCoreTools --add Microsoft.VisualStudio.Workload.NetCrossPlat --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.Node --add Microsoft.VisualStudio.Workload.Universal --add Microsoft.VisualStudio.Workload.Azure --includeRecommended --includeOptional --passive --locale en-US" />
</packages>

